<!--The content below is only a placeholder and can be replaced.-->

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <h1>
        Angular-JWT-Node
    </h1>
    <nav class="uk-navbar uk-margin-large-bottom">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
                <a routerLink="/register">Step 1: Register</a>
            </li>
            <li >
                <a routerLink="/login">Step 2: Login</a>
            </li>
            <li>
                <a routerLink="/access">Step 3: Access Data</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>


